#slidercontainer {
    text-align: center;
}

#slider {
    width: 50%;
}

#svg2 {
    margin: 20px 20px;
    max-width: 90%;
}

body {
    text-align: center;
}

path:hover {
    stroke-width: 3;
    cursor: pointer;
}

#legende {
    width: 95%;
    max-width: 800px;
    height: 40px;
    text-align: center;
    margin: 20px auto;
}

rect:hover {
    stroke-width: 5px;
}

text {
    opacity: 1;
    display: inline;
}

#land-details {
    display: none;
    position: absolute;
    transform: translate(-50%, 0);
    pointer-events: none;
    color: white;
    text-shadow: 0 0 16px black;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid black 1px;
    padding: 16px;
}

#land-details-name {
    font-size: 1.3em;
}

#land-details.visible {
    display: block;
}
